body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #000;
    color: white;
}

/* PORTADA */
#portada {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
}

.portada-contenido h1 {
    font-size: 60px;
    letter-spacing: 3px;
    margin: 0;
}

.portada-contenido h2 {
    color: #00cfff;
    font-size: 28px;
    margin-top: 10px;
}

.subtitulo {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.8;
}

#btnContinuar {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 18px;
    background: #00cfff;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btnContinuar:hover {
    background: #009ec4;
    transform: scale(1.05);
}

/* GALERÍA */
.oculto {
    display: none;
}

#galeria {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visor {
    display: flex;
    align-items: center;
    width: 90%;
}

.imagen-container {
    width: 100%;
    text-align: center;
}

.imagen-container img {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
}

.caption {
    margin-top: 20px;
    font-size: 18px;
    color: #00cfff;
}

.flecha {
    background: #00cfff;
    border: none;
    color: black;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}
