*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:black;
    color:white;
}

/* PORTADA */
#portada{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:black;
}

.portada-contenido h1{
    font-size:60px;
    letter-spacing:4px;
}

.portada-contenido h2{
    color:#00d4ff;
    margin-top:15px;
    font-size:28px;
}

.subtitulo{
    margin-top:20px;
    font-size:18px;
    opacity:0.8;
}

button{
    margin-top:40px;
    padding:15px 40px;
    font-size:18px;
    background:#00d4ff;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

/* GALERÍA */
.oculto{
    display:none;
}

.visor{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.imagen-container{
    text-align:center;
    max-width:95%;
}

#imagen{
    max-width:100%;
    max-height:80vh;
    object-fit:contain;
    transition:opacity 0.5s ease;
}

/* PIE DE FOTO */
.pie{
    margin-top:20px;
    font-size:20px;
    color:#00d4ff;
}

/* FLECHAS */
.flecha{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:60px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

.izquierda{ left:30px; }
.derecha{ right:30px; }
