* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #000;
  color: #fff;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

/* PORTADA PERFECTA */
.hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.8rem;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 1.2;
}

.hero-content h2 {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 6px;
  opacity: 0.8;
}

.hero-content p {
  margin-top: 25px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  opacity: 0.6;
}

.btn {
  margin-top: 40px;
  padding: 14px 40px;
  border-radius: 40px;
  border: none;
  background: #111;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn:hover {
  background: white;
  color: black;
}

/* GALERÍA */
.gallery {
  position: relative;
  width: 100%;
  height: 100dvh;
  background: black;
  display: none;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TÍTULO SUPERIOR */
.top-title {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 4px;
  opacity: 0.85;
  z-index: 5;
}

/* PIE DE FOTO (NO SE CORTA EN IPHONE) */
.caption {
  position: absolute;
  bottom: env(safe-area-inset-bottom);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.0));
  padding: 18px 20px 22px 20px;
  margin: 0;
}


/* FECHAS MÁS PEQUEÑAS Y ELEGANTES */
.date-left, .date-right {
  position: absolute;
  bottom: calc(100px + env(safe-area-inset-bottom));
  font-size: 0.7rem;
  opacity: 0.7;
  letter-spacing: 2px;
}

.date-left {
  left: 20px;
}

.date-right {
  right: 20px;
}

/* FLECHAS */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  background: rgba(0,0,0,0.4);
  padding: 10px 18px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 20px; }
.next { right: 20px; }
/* BOTÓN ZOOM */
.zoom-toggle {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 20;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 18px;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

/* MODO NORMAL (cine, recorta) */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: object-fit 0.4s ease;
}

/* MODO FOTO COMPLETA (sin recorte) */
.gallery.fit-mode .slide img {
  object-fit: contain;
  background: black;
}
